In [1]:
import numpy as np
import pandas as pd

In [5]:
a = [29,24,22,19,21,18,19,20,23,18,20,23]

In [6]:
df = pd.DataFrame()

In [14]:
df['obs'] = a
df

    obs    exp  residual   res_sq  component
0    29  21.33      7.67  58.8289   2.758036
1    24  21.33      2.67   7.1289   0.334219
2    22  21.33      0.67   0.4489   0.021045
3    19  21.33     -2.33   5.4289   0.254519
4    21  21.33     -0.33   0.1089   0.005105
5    18  21.33     -3.33  11.0889   0.519873
6    19  21.33     -2.33   5.4289   0.254519
7    20  21.33     -1.33   1.7689   0.082930
8    23  21.33      1.67   2.7889   0.130750
9    18  21.33     -3.33  11.0889   0.519873
10   20  21.33     -1.33   1.7689   0.082930
11   23  21.33      1.67   2.7889   0.130750

In [15]:
exp = df['obs'].sum()/df['obs'].count()
exp

21.333333333333332

In [16]:
df['exp'] = exp
df

    obs        exp  residual   res_sq  component
0    29  21.333333      7.67  58.8289   2.758036
1    24  21.333333      2.67   7.1289   0.334219
2    22  21.333333      0.67   0.4489   0.021045
3    19  21.333333     -2.33   5.4289   0.254519
4    21  21.333333     -0.33   0.1089   0.005105
5    18  21.333333     -3.33  11.0889   0.519873
6    19  21.333333     -2.33   5.4289   0.254519
7    20  21.333333     -1.33   1.7689   0.082930
8    23  21.333333      1.67   2.7889   0.130750
9    18  21.333333     -3.33  11.0889   0.519873
10   20  21.333333     -1.33   1.7689   0.082930
11   23  21.333333      1.67   2.7889   0.130750

In [17]:
df['residual'] = df['obs']-df['exp']
df

    obs        exp  residual   res_sq  component
0    29  21.333333  7.666667  58.8289   2.758036
1    24  21.333333  2.666667   7.1289   0.334219
2    22  21.333333  0.666667   0.4489   0.021045
3    19  21.333333 -2.333333   5.4289   0.254519
4    21  21.333333 -0.333333   0.1089   0.005105
5    18  21.333333 -3.333333  11.0889   0.519873
6    19  21.333333 -2.333333   5.4289   0.254519
7    20  21.333333 -1.333333   1.7689   0.082930
8    23  21.333333  1.666667   2.7889   0.130750
9    18  21.333333 -3.333333  11.0889   0.519873
10   20  21.333333 -1.333333   1.7689   0.082930
11   23  21.333333  1.666667   2.7889   0.130750

In [18]:
df['res_sq'] = df['residual']**2
df

    obs        exp  residual     res_sq  component
0    29  21.333333  7.666667  58.777778   2.758036
1    24  21.333333  2.666667   7.111111   0.334219
2    22  21.333333  0.666667   0.444444   0.021045
3    19  21.333333 -2.333333   5.444444   0.254519
4    21  21.333333 -0.333333   0.111111   0.005105
5    18  21.333333 -3.333333  11.111111   0.519873
6    19  21.333333 -2.333333   5.444444   0.254519
7    20  21.333333 -1.333333   1.777778   0.082930
8    23  21.333333  1.666667   2.777778   0.130750
9    18  21.333333 -3.333333  11.111111   0.519873
10   20  21.333333 -1.333333   1.777778   0.082930
11   23  21.333333  1.666667   2.777778   0.130750

In [19]:
df['component'] = df['res_sq']/df['exp']
df

    obs        exp  residual     res_sq  component
0    29  21.333333  7.666667  58.777778   2.755208
1    24  21.333333  2.666667   7.111111   0.333333
2    22  21.333333  0.666667   0.444444   0.020833
3    19  21.333333 -2.333333   5.444444   0.255208
4    21  21.333333 -0.333333   0.111111   0.005208
5    18  21.333333 -3.333333  11.111111   0.520833
6    19  21.333333 -2.333333   5.444444   0.255208
7    20  21.333333 -1.333333   1.777778   0.083333
8    23  21.333333  1.666667   2.777778   0.130208
9    18  21.333333 -3.333333  11.111111   0.520833
10   20  21.333333 -1.333333   1.777778   0.083333
11   23  21.333333  1.666667   2.777778   0.130208